/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

body {
  background-color: #D4A76A;
}

.headbox {
  display: flex;
  flex-direction: row;
  border-bottom: thin solid;
  margin: -7px;
  background-color: #ffdbaa;
  font-family:Arial, Helvetica, sans-serif;
  }

.header1 {
  color:#553100;
  width: 800px;
  padding-left: 7%;

}

.navbar {
  padding-left: 1%;
  width: 400px;
  color: white;
  background-color: #805215;
}

.section {
  background-color: #D4A76A;
}
.flex {
  display: flex;
  ;
}

a {
  color: white;
  background-color: #805215;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  border: thin solid black;
}

.box {
  display: block;
  border: thin solid;
  text-align: center;
  background-color: white;
  margin: auto;
  margin-top: 2%;
  padding: 2%;
  width: 275px;
  height: 150px;
  flex: 1 1 2;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.267);
  font-family:Arial, Helvetica, sans-serif;

}
.box1 {
  display: block;
  border: thin solid;
  text-align: center;
  background-color: white;
  margin: auto;
  margin-top: 3%;

  width: 1200px;
  height: 150px;
  flex: 1 1 2;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.267);
  font-family:Arial, Helvetica, sans-serif;

}